@model IEnumerable<PunchClock.Domain.Model.User>
    
@(Html.Kendo().Splitter()
      .Name("splitter").HtmlAttributes(new { style = "height:800px" })
      .Panes(panes =>
      {
      panes.Add().Content(
              @<section class="inside">
                  <h3>Employees</h3>
                  <ul>
                      @foreach (var user in Model)
                      {
                          <li>
                              @Ajax.ActionLink(
                                  @Html.Raw($"{user.FirstName} {user.MiddleName} {user.LastName}").ToString(),
                                  "Details", "User", new
                                  {
                                      id = user.Uid
                                  }, new AjaxOptions
                                  {
                                      Confirm = "You are above to load this employee details",
                                      UpdateTargetId = "empDetails",
                                      InsertionMode = InsertionMode.Replace,
                                      OnComplete = "utcDate"
                                  }, new { })
                          </li>
                      }
                  </ul>
              </section>).Size("200px");

          panes.Add().Content(@<section class="inside">
                                  <h3>Details</h3>
            
                                  <p id="empDetails">Select a employee to edit/view details</p>
                              </section>);
      }))

