@model PunchClock.View.Model.CompanyView
@{
    ViewBag.Title = "Companies Details";
}
<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@Html.Raw((string)ViewBag.Message)</h2>
</hgroup>
<div class="clearFloat"></div>
<hr />
<div class="col-lg-12">
    <div class="well">
        @(Html.Kendo().TabStrip()
          .Name("tabstrip")
          .Items(tabstrip =>
          {
              tabstrip.Add().Text("Details")
                  .Selected(true)
                  .LoadContentFrom("Edit", "Employer", new { id = ViewBag.CompanyId });
              tabstrip.Add().Text("Employees")
                  .LoadContentFrom("Employees", "Employer", new { id = ViewBag.CompanyId });
              tabstrip.Add().Text("Emp Type Vs. Holi Paid")
                  .LoadContentFrom("PaidHolidayPkg", "Employer", new { id = ViewBag.CompanyId });
              tabstrip.Add().Text("Holidays")
                  .LoadContentFrom("SetHolidays", "Employer", new { id = ViewBag.CompanyId });

          })
        )
    </div>

</div>
