
<div class="row">
    <div class="col-lg-12">
        <ul class="list-unstyled">
            <li class="pull-right"><a href="#top">Back to top</a></li>
            <li>&copy; @DateTime.Now.Year - <a href="http://punchclock.rbtekspace.com/">PunchClock</a></li>
            <li>Follow us at:
                <a href="https://www.linkedin.com/company/tek-space" target="_blank">LinkedIn</a>  | 
                <a href="https://www.facebook.com/RBTEKSPACE" target="_blank">FaceBook</a></li>
        </ul>
    </div>
</div>