@{
    ViewBag.Title = "About";
}

@*<hgroup class="title">
        <h1>@ViewBag.Title.</h1>
        <h2>@ViewBag.Message</h2>
    </hgroup>*@

<article class="col-lg-8 col-md-7 col-sm-6">
    <h1>@ViewBag.Title</h1>
    <p class="lead">
        Punch Clock is an online tool for any employee to sign up and calculate their daily,weekly monthly hours and download the report in PDF format.
        <br />
        This application will have an admin area where managers can approve or deny any checked-in timings or requests.
    </p>
    <section class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Here is the high level work flow.</h3>
        </div>
        <div class="panel-body">
            <ol class="list-group">
                <li class="list-group-item">Users registers with a unique userObjLibraryname and password. During the registration period, userObjLibrary IP and MAC address will be captured and access will be provided for only that device and IP; If the userObjLibrary wants to get access from another device or IP, a request has to be made to admin and the admin can either approve or deny that request.</li>
                <li class="list-group-item">Once the registration is complete, userObjLibrary can add day time in and day time out, break time in and break time out, userObjLibrary will have only 10 minutes delta time to select. Any thing above it, userObjLibrary should trigger a request to admin approval on that timing.</li>
                <li class="list-group-item">After successfully entering records, userObjLibrary can search for records based on from and to date.</li>
                <li class="list-group-item">Returned results can be downloaded as time sheet report for that duration in Excel/PDF format.</li>
                <li class="list-group-item">Any incomplete records will be alerted on top-right tab as incomplete.</li>
            </ol>
        </div>
    </section>
</article>
@section featured {

<section class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Application Modules</h3>
    </div>
    <div class="panel-body">
        <ul class="">
            <li class="">Users Registration </li>
            <li class="">Device and IP authorization</li>
            <li class="">Search time records by dates</li>
            <li class="">SuperAdmin Console
                <ul class="">
                    <li class="">Enable/Disable userObjLibrary access</li>
                    <li class="">Enable/Disable Users device/IP access (only one device and IP active access at a time per userObjLibrary)</li>
                    <li class="">Approve/deny userObjLibrary request for earlier or past time for punch in.</li>
                    <li class="">Search a userObjLibrary or all userObjLibrarys time records</li>
                    <li class="">Export the time records to PDF/Excel</li>

                </ul>
            </li>
        </ul>
    </div>
</section>

    <section class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Technology</h3>
    </div>
    <div class="panel-body">
        ASP.NET MVC 5, Razor view Engine, C#.4.5, jQuery, SQL Server 2014, Bootstrap, Entityframework 6
    </div>
</section>
}