@{
    ViewBag.Title = "User Registration";
}
<div class="col-lg-12 form-horizontal">
    <div class="panel panel-success panel-nomargin">
        <div class="panel-body">Invalid Code</div>
    </div>
    <div class="well">
        <fieldset>
            <div class="form-group">
                <div class="col-lg-6">
                    <p>
                        Registration invite URL provided is invalid, please contact your company admin to reinvite you to register. If you want to register a new company account please @Html.ActionLink("Click here", "Register", "Company")
                    </p>
                </div>
            </div>
        </fieldset>
    </div>
</div>