@model string
@{
    ViewBag.Title = "Password Changed";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Please use your new password <strong> @Model</strong>
    </p>
</div>

