<html>
<head>
    <title></title>
</head>
<body>
<img src="#Logo#" alt="PunchClock"/>
<hr />
<table rules="all" style="border-color: #666;" cellpadding="10">
    <tr style='background: #eee;'><td><strong>Company:</strong> </td><td>#Comapny#</td></tr>
    <tr style='background: #eee;'><td><strong>Registered Code:</strong> </td><td>#RegisterCode#</td></tr>
    <tr style='background: #eee;'><td><strong>Created By:</strong> </td><td>#CreatedBy#</td></tr>
    <tr style='background: #eee;'><td><strong>Registered Date:</strong> </td><td>#RegisteredDate#</td></tr>
    <tr style='background: #eee;'><td><strong>Name:</strong> </td><td>#CreatedBy#</td></tr>
    <tr><td><strong>Email:</strong> </td><td> #CreatedByEmail#</td></tr>
</table>
</body>
</html>