<html>
<head>
    <title></title>
</head>
<body>
<hr />
<h3>Geo Information</h3>
<hr />
<table rules="all" style="border-color: #666;" cellpadding="10">
    <tr style='background: #eee;'><td><strong>IpAddress: </strong> </td><td> #IpAddress#</td></tr>
    <tr><td><strong>City:</strong> </td><td> #City#</td></tr>
    <tr><td><strong>Country: </strong> </td><td> #Country#</td></tr>
    <tr><td><strong>Zip: </strong> </td><td> #Zip#</td></tr>
    <tr><td><strong>Timezone: </strong> </td><td> #Timezone#</td></tr>
    <tr><td><strong>Isp: </strong> </td><td> #Isp#</td></tr>
</table>
</body>
</html>