<html>
<head>
    <title></title>
</head>
<body>
<img src="http://www.rbtekspace.com/App_Themes/WssRed/images/logo-space.png" alt="RedandBlue TEKSPACE"/>
<hr />
<p>
    Dear #Name#,<br/>
    You have been invited to Register with PunchClock
</p>
<table rules="all" style="border-color: #666;" cellpadding="10">
    <tr style='background: #eee;'><td><strong>Name:</strong> </td><td>#Name#</td></tr>
    <tr style='background: #eee;'><td><strong>Email:</strong> </td><td>#Email#</td></tr>
    <tr style='background: #eee;'><td><strong>Created By:</strong> </td><td>#CreatedBy#</td></tr>
    <tr style='background: #eee;'><td><strong>Registration Link:</strong> </td><td>#LinkToRegister#</td></tr>
</table>
</body>
</html>