<html>
<head>
    <title></title>
</head>
<body>
<img src="#Logo#" alt="PunchClock"/>
<hr />
<p>
    Dear #DisplayName#,<br/>
    You have been successfully Registered following are your login information
</p>
<table rules="all" style="border-color: #666;" cellpadding="10">
    <tr style='background: #eee;'><td><strong>Name:</strong> </td><td>#DisplayName#</td></tr>
    <tr style='background: #eee;'><td><strong>Registered Email:</strong> </td><td>#RegisterEmail#</td></tr>
    <tr style='background: #eee;'><td><strong>Login UserName:</strong> </td><td>#UserName#</td></tr>
    <tr style='background: #eee;'><td><strong>Login Password:</strong> </td><td>#Password#</td></tr>
    <tr style='background: #eee;'><td><strong>Registered Date:</strong> </td><td>#RegisteredDate#</td></tr>
</table>
</body>
</html>