input[required] {
    background: #ebe;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
hgroup.title {
    display: block;
}
hgroup.title h1, hgroup.title h2 {
    
}
hgroup.title h1 {
    float: left;
}
hgroup.title h2 {
    float: right;
 }
.clearFloat { clear: both; }
.btn-group-padding {
    margin-top: 10px;
}
.panel-nomargin {
    margin-bottom: 0;
    background:slategrey;
    font-weight: bold;
    color: white;
}
.full-screen-dashboard {
    height: 100%;
    width: 100%;
    position: absolute !important;
    top: 40px;
    left: 0;
    z-index: 9;
}
.utc-time {
    
}
.utc-date {
    
}
                        
.form-horizontal .slide-to-left{
    padding-left: 0;
}
.pTime {
    
}